<div class="text-center mt-3 mb-3">
    <form>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"
        >
    </form>
</div>
<!-- 
    () é um Event Biding
    Quando acontecer o evento especificado
    o Angular executará a expressão em "".
    
    $event é o tratamento interno do Angular
    para o event do JavaScript
    
    No exemplo acima, sempre que o usuário digitar algo
    o Angular emitirá esse valor para o Subject debounce
    declarado no componente
-->

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>
<!--
    Conceito de PIPE do Angular
    O PIPE é um "tubo" que alguma coisa passa e sai transformada em outra
    O Angular tem os seus próprios PIPES
    mas também podemos criar os nossos próprios

    No exemplo acima é como se fosse:
    
    filterByDescription(photos, filter)

    filterByDescription é um PIPE criado por nós
-->

<ap-load-button
    (click)="load()"
    [hasMore]="hasMore">
</ap-load-button>
