<h4 class="text-center">Login</h4>

<!-- 
    Usando a diretiva formGroup com data biding 
    com a propriedade loginForm para dizer que
    ele loginForm é quem vai controlar as validações
    do formulário.

    Event Binding com o evento submit para que
    ao submeter o formulário, seja executado o
    método login().
 -->
<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <!--
        A string atribuida a formControlName
        precisa bater com:

        this.loginForm = this.formBuilder.group({
            userName: ['', Validators.required], /* form control que será associado ao input de user name */
            password: ['', Validators.required]  /* form control que será associado ao input de password */
        });
    -->
    
    <div class="form-group">
        <!-- 
            #userNameInput é uma variável de template
            e representa uma referência ao elemento do DOM
            
            Variáveis de template também podem ser utilizadas
            em componentes, guardando assim uma referência
            para o mesmo 
         -->
        <input #userNameInput
            formControlName="userName"
            class="form-control" 
            placeholder="user name" 
            autofocus>
        <!-- 
            Objeto errors existirá apenas se houver erro
            e errors.required existirá se houver erro
            no validator require

            O "?" faz com que o Angular avalie .require
            apenas se errors existir
        -->
        <ap-vmessage
            *ngIf="loginForm.get('userName').errors?.required"
            text="User name is required!">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input
            formControlName="password"
            type="password" 
            class="form-control" 
            placeholder="password">        
        <!-- 
            Objeto errors existirá apenas se houver erro
            e errors.required existirá se houver erro
            no validator require

            O "?" faz com que o Angular avalie .require
            apenas se errors existir
        -->
        <ap-vmessage
            *ngIf="loginForm.get('password').errors?.required"
            text="Password is required!">
        </ap-vmessage>
    </div>

    <!-- 
        .invalid avalia se todos os inputs/propriedades
        passaram nas validações
     -->
    <button 
        [disabled] = "loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>
</form>

<!-- 
    [routerLink]="['signup']" é similar a:
    route.navigate(['signup'])
 -->
<p>Not a user? <a [routerLink]="['signup']">Register now</a></p>